<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plant Disease Detector</title>

<link rel="stylesheet" href="/static/styles.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<header>
<h1>🌿 Plant Disease Detection System</h1>
<p>Upload or capture a leaf image to detect plant health and possible diseases.</p>
</header>


<section class="upload-section">
<h2>Detect Your Plant's Health</h2>


<!-- DEVICE UPLOAD -->
<form action="/predict" method="post" enctype="multipart/form-data">

<input type="hidden" name="source" value="file">

<label class="upload-box">
<input id="fileUpload" type="file" name="file" accept="image/*" required>
<span>🖼 Choose Image from Device</span>
</label>

<br><br>

<button type="submit">🔍 Predict Disease</button>

</form>


<br><br>


<!-- CAMERA UPLOAD -->
<form action="/predict" method="post" enctype="multipart/form-data">

<input type="hidden" name="source" value="camera">

<label class="upload-box">
<input id="cameraCapture" type="file" name="file" accept="image/*" capture="environment" required>
<span>📸 Click Image Using Camera</span>
</label>

<br><br>

<button type="submit">📷 Detect from Camera</button>

</form>


</section>

</body>
</html>
